{% extends "todo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" class="row d-flex justify-content-center">
    
    <div class="col-sm-4 col-xl-4 border border-dark rounded my-5 bg-light">
        {% csrf_token %} 
        <div class="row card-header bg-dark text-bg-dark d-flex justify-content-center">
            <h1 class="text-center text-light py-2">Login</h1>
        </div> 
        <div class="form-outline mb-4">
            {{ form.username | as_crispy_field }} 
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            {{ form.password | as_crispy_field }} 
        </div>
        
        <!-- Submit button -->
        <div class=" py-1 d-flex justify-content-center"> 
            <input type="submit" class="btn btn-primary btn-block mb-4 px-4" value="Login">
         </div>  

    </div>
  
     
   
</form>
{% endblock %} 
 
 
